<!--  ./views/index.handlebars -->
<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Random Password Generator <i class="fas fa-key"></i></h5>
          <hr>
          <form method="POST" action="/">
            <div class="row">
              <label for="length" class="col-md-4 col-form-label">
                產生組數 (1-100)
              </label>
              <div class="col-md-8">
                <input type="number" name="quantity" class="form-control" id="quantity" min="1" max="100" value="{{ options.quantity }}">
              </div>
            </div>

            <div class="row mt-3">
              <label for="length" class="col-md-4 col-form-label">
                密碼長度 (4-16)
              </label>
              <div class="col-md-8">
                <input type="number" name="length" class="form-control" id="length" min="4" max="16" value="{{ options.length }}">
              </div>
            </div>

            <div class="row mt-3 align-items-center">
              <label for="uppercase" class="col-md-4 col-form-label">大寫英文字母</label>
              <div class="col-md-8">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="uppercase" name="uppercase" {{#if options.uppercase }} checked {{/if}}>
                  <label class="custom-control-label" for="uppercase">(e.g. ABCDEFG)</label>
                </div>
              </div>
            </div>

            <div class="row mt-3 align-items-center">
              <label for="lowercase" class="col-md-4 col-form-label">小寫英文字母</label>
              <div class="col-md-8">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="lowercase" name="lowercase" {{#if options.lowercase }} checked {{/if}}>
                  <label class="custom-control-label" for="lowercase">(e.g. abcdefg)</label>
                </div>
              </div>
            </div>

            <div class="row mt-3 align-items-center">
              <label for="numbers" class="col-md-4 col-form-label">數字</label>
              <div class="col-md-8">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="numbers" name="numbers" {{#if options.numbers }} checked {{/if}}>
                  <label class="custom-control-label" for="numbers">(e.g. 123456)</label>
                </div>
              </div>
            </div>

            <div class="row mt-3 align-items-center">
              <label for="symbols" class="col-md-4 col-form-label">符號</label>
              <div class="col-md-8">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="symbols" name="symbols" {{#if options.symbols }} checked {{/if}}>
                  <label class="custom-control-label" for="symbols">(e.g. @#$%)</label>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <label for="exclude-characters" class="col-md-4 col-form-label">
                指定不包含字元
              </label>
              <div class="col-md-8">
                <input type="text" name="excludeCharacters" class="form-control" id="exclude-characters" value="{{ options.excludeCharacters }}">
                <small class="text-muted form-text">(直接輸入字元不需逗號分隔)</small>
              </div>
            </div>

            {{!-- Show passwords here --}}
            <div class="row mt-3">
              <div class="col-md-12"><button class="btn btn-success" type="submit">產生密碼</button></div>
              {{#if password }}
                {{#each password }}
                  <div class="col-md-3 my-3"><kbd class="p-2"><kbd>{{ this }}</kbd></kbd></div>
                {{/each}}
              {{/if}}
            </div>


          </form>
        </div>

        <small class="card-footer text-muted text-right">
          Idea is inspired by <a href="https://passwordsgenerator.net/" target="_blank">Strong Random Password</a>
        </small>
      </div>
    </div>
  </div>
</div>
